<div class="buttons">
  <div class="up">
    <button color="warn" mat-mini-fab>
      <mat-icon>arrow_drop_up</mat-icon>
    </button>
  </div>
  <div class="left-right">
    <div class="left">
      <button color="warn" mat-mini-fab>
        <mat-icon>arrow_left</mat-icon>
      </button>
    </div>
    <div class="right">
      <button color="warn" mat-mini-fab>
        <mat-icon>arrow_right</mat-icon>
      </button>
    </div>
  </div>
  <div class="down">
    <button color="warn" mat-mini-fab>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
  </div>
</div>
